# **Modules Introduction**

# built-in functions such as sum(), max(), len(), etc.

# using a module provides more functions that we can use in our program.

# what is a module?

A module is a file containing a set of functions that we might want to use in our application. Once we import a module, we can use all the functions defined inside that module.

# Why modules?

You might have heard that Python is used for data analytics, web development, automation, etc.

To solve these tasks, we take the help of modules rather than writing code from scratch.

For example, if we need to perform tasks related to

data analytics, we will use modules such as NumPy, pandas, etc.
web development, we will use modules such as Django, Flask, etc.
csv files, we will use modules such as csv, pandas, etc.

# Importing Modules
## import math

In [ ]:
import math

number = 25

# compute square root
result = math.sqrt(number)

print(result)   # 5.0

5.0

In [ ]:
import math

number = 3.6

# round a number down to the nearest integer
result = math.floor(number)

print(result)   # 3

3

There are many other useful functions defined inside the math module such as sin(), cos(), log(), etc.

In [ ]:
# What happens when you import the same module twice?

import math
import math

result = math.sqrt(9)
print(result)

3.0

# Renaming Modules

In [ ]:
import math as m

number = 25

# compute square root
result = m.sqrt(number)

print(result)   # 5.0

5.0

#### Note: If we use math.sqrt() instead of m.sqrt() in the above code, we will get an error.

# from...import Statement

In [ ]:
from math import sqrt, floor

number = 25

# compute square root
result = sqrt(number)

print(result)   # 5.0

5.0

#### this statement from math import sqrt, floor imports only two functions — sqrt() and floor() — from the math module.

Note: If we use math.sqrt() in the above example, we will get an error because only two functions sqrt() and floor() are imported; math is not imported.

# Calculate GCD using Modules
Problem Description

Write a program to find the greater common divisor of two numbers using the gcd() function defined inside the math module.

Import the math module.
Get two integer inputs from the user.
Call the gcd() function with two numbers as arguments. The function returns the greatest common divisor.
Print the result.

In [ ]:
# import the math module
import math

# get two integer inputs
n1 = int(input())
n2 = int(input())

# compute gcd
# call the gcd() function defined in the math module
# use n1 and n2 as arguments
result = math.gcd(n1,n2)

# print the result
print(result)

10
50
10

# Random Module
Note: You may get a different result as we are generating a random number.

In [ ]:
import random

# random number between 1 and 100 (both inclusive)
random_number = random.randint(1, 100)

print(random_number)

30

# **Nested Loops**
It's possible to put a loop inside another loop. This is known as a nested loop.

In [ ]:
attributes = ['Electric', 'Fast']
cars = ['Tesla', 'Porsche', 'Mercedes']

for attribute in attributes:
    for car in cars:
        print(attribute, car)

Electric Tesla
Electric Porsche
Electric Mercedes
Fast Tesla
Fast Porsche
Fast Mercedes

In [ ]:
# Slightly modify
attributes = ['Electric', 'Fast']
cars = ['Tesla', 'Porsche', 'Mercedes']

for attribute in attributes:

    for car in cars:
        print(attribute, car)

    print("----")

Electric Tesla
Electric Porsche
Electric Mercedes
----
Fast Tesla
Fast Porsche
Fast Mercedes
----

In [ ]:
# outer loop iterates from i = 0 to 2
for i in range(3):
    # inner loop iterates from j = 0 to 1
    for j in range(2):
        print(f"i = {i}, j = {j}")

i = 0, j = 0
i = 0, j = 1
i = 1, j = 0
i = 1, j = 1
i = 2, j = 0
i = 2, j = 1

In [ ]:
for i in range(2):
    for i in range(1):
        print("*")

*
*

### Nested Loops

Problem Description

Take integer input from the user and store it in variable n.
Create a nested loop. The outer loop should iterate n times.
In each iteration of the outer loop, iterate the inner loop 2 times.
Inside the inner loop, print "*".

Note: We will assume that the user will always enter a positive integer.

In [ ]:
# get integer input
n = int(input())

# iterate the outer loop n times
for number in range(n):
    # iterate the inner loop 2 times
    for num in range(2):
        # print "*"
        print('*')

5
*
*
*
*
*
*
*
*
*
*

#**Miscellaneous**

we will learn about four small concepts:

Assignment Operators

None

Truthy and Falsy

pass Statement

####Assignment Operators

In [14]:
# assign 3.1415 to the pi variable
pi = 3.1415

+=	x += 5	x = x + 5

-=	x -= 5	x = x - 5

*=	x *= 5	x = x * 5

/=	x /= 5	x = x / 5

%=	x %= 5	x = x % 5

//=	x //= 5	x = x // 5

**= x **= 5	x = x ** 5

In [15]:
total = 100

total += 10   # total = total + 10
print(total)

110

In [16]:
x = 10

x //= 4   # x = x // 4
print(x)

2

#### None

In [17]:
x = None
print(x)    # None

None

In [18]:
def greet():
    print("Hey")

result = greet()
print(result)

Hey
None

#### Truthy and Falsy

In [19]:
x = 5

if x:
    print(x)   # 5

5

In [20]:
x = 0

if x:
    print(x)

# No output

In Python these values are considered falsy.

None

False

0

0.0

empty strings, lists, dictionaries etc.

In [21]:
n1 = 20
n2 = 10
n3 = 30

if n1 > n2 and n3:
    print(n1)
elif n2 > n1 and n3:
    print(n2)
else:
    print(n3)

20

In [22]:
n = 10
if n == 10 and 100:
    print("Hello")

Hello

Here, n == 10 and 100 evaluates to True because both n == 10 and 100 evaluate to True. Thus, the print("Hello") statement is executed.

#### pass Statement

In [23]:
n = 10

if n > 10:
    # write code later

print("Hello")

IndentationError: expected an indented block after 'if' statement on line 3 (<ipython-input-23-07c4b85cd341>, line 6)

In [24]:
n = 10

# notice the use of pass inside the if statement
if n > 10:
    pass

print("Hello")

Hello