# **Python Lists**
Lists are one of the most versatile data types that allow us to work with multiple elements.

A list is created by placing items (elements) inside square brackets [], separated by commas. For example,

odd_numbers = [1, 3, 5, 7]

In [ ]:
# Creating List
# empty list
list1 = []
print(list1)   # Output: []

# list of integers
numbers = [1, 2, 3]
print(numbers)   # Output: [1, 2, 3]

# list with mixed data types
mixed_list = [1, "Hello", 3.4]
print(mixed_list)   # Output: [1, 'Hello', 3.4]

# list with duplicate items
list2 = [1, 2, 3, 1, 3]
print(list2)   # Output: [1, 2, 3, 1, 3]

[]
[1, 2, 3]
[1, 'Hello', 3.4]
[1, 2, 3, 1, 3]

In [ ]:
# nested list
list1 = ['mouse', [1, 2, 3], [4]]
print(list1)   # Output: ['mouse', [1, 2, 3], [4]]

['mouse', [1, 2, 3], [4]]

# List Length

In [ ]:
# list containing 3 items
languages = ['Python', 'JavaScript', 'C++']

length = len(languages)
print(length)    # Output: 3

# empty list
animals = []

length = len(animals)
print(length)   # Output: 0

3
0

Note: We used single quotes (') in the list for consistency with Python's default output. Both single and double quotes are valid.

Problem Description


Write a program to create a list containing 5 elements and find its length using len().

Create a list named list1 containing 5 elements.
Use the len() function to find the length of list1 and print it.

In [ ]:
list1 = [1,2,3,4,5]
length = len(list1)
print(length)

5

# Access List Items

In [ ]:
languages = ['Python', 'JavaScript', 'C++']

# access the first item
first_language = languages[0]
print(first_language)   # Python

# access the second item
print(languages[1])   # JavaScript

# access the third item
print(languages[2])   # C++

Python
JavaScript
C++

In [ ]:
languages = ['Python', 'JavaScript', 'C++']

# trying to access the fourth item using index 3
print(languages[3]) # Error shows

IndexError: list index out of range

# Negative Indexing

In [ ]:
# Access items of a list

languages = ['Python', 'JavaScript', 'C++']

# access the last item
last_language = languages[-1]
print(last_language)   # C++

# access the third last item
print(languages[-3])   # Python

# access the fourth last item
print(languages[-4])   # Error

C++
Python

IndexError: list index out of range

Problem Description


Write a program to create a list and access an item.

Create a list named odd_numbers containing 3 items: 9, 11, and 15.
Print the second item of the list (using a positive index).

In [ ]:
# create a list containing items 9, 11 and 15
# assign the list to the odd_numbers variable
odd_numbers = [9,11,15]

# print the second item
print(odd_numbers[1])

11

# Slicing of a List

To access a portion of a list we use slicing.

In [ ]:
numbers = [10, 20, 30, 40, 50, 60]

# start - 2
# end - 5
new_numbers = numbers[2: 5]
print(new_numbers)

# Output:  [30, 40, 50]

[30, 40, 50]

In [ ]:
# List slicing is inclusive of the start index (1, green) and exclusive of the end index (4, orange).So, it includes elements at indexes 1, 2, and 3, which are ['green', 'blue', 'yellow'].
colors = ['red', 'green', 'blue', 'yellow', 'orange']
subset = colors[1:4]
print(subset)

['green', 'blue', 'yellow']

# List Slicing Examples

In [ ]:
numbers = [10, 20, 30, 40, 50, 60]

# items from index 0 to 3
print(numbers[0: 4])    # [10, 20, 30, 40]

# items from index 3 to 4
print(numbers[3: 5])   # [40, 50]

# using negative index in slicing

# items from the fourth item (3rd index)
# to the second-last item

print(numbers[3: -1])   # [40, 50]

[10, 20, 30, 40]
[40, 50]
[40, 50]

# Omit Start and End Index

Omit Start Index

In [ ]:
numbers = [10, 20, 30, 40, 50, 60]

# items from first item to third index
print(numbers[: 4])    # [10, 20, 30, 40]

[10, 20, 30, 40]

Omit End Index

In [ ]:
numbers = [10, 20, 30, 40, 50, 60]

# items from 3rd index to last item
print(numbers[3: ])   # [40, 50, 60]

[40, 50, 60]

What if we skip both start and end index?

In [ ]:
numbers = [10, 20, 30, 40, 50, 60]

# items from first to last
print(numbers[:])   # [10, 20, 30, 40, 50, 60]

[10, 20, 30, 40, 50, 60]

# Change Items of a List

In [ ]:
languages = ['Python', 'JavaScript', 'C++']

# change the second item to 'Java'
languages[1] = 'Java'

print(languages)   # ['Python', 'Java', 'C++']

# change the last item to 'PHP'
languages[-1] = 'PHP'

print(languages)   # ['Python', 'Java', 'PHP']

['Python', 'Java', 'C++']
['Python', 'Java', 'PHP']

# Delete Items From a List

In [ ]:
animals = ['dog', 'cat', 'rat']

# delete the second item
del animals[1]

print(animals) # ['dog', 'rat']

# delete the first item
del animals[0]

print(animals) # ['rat']

['dog', 'rat']
['rat']

In [ ]:
# We can even use the del statement to delete the entire list.

animals = ['dog', 'cat', 'rat']

# delete the list
del animals

print(animals)

NameError: name 'animals' is not defined

# List Methods
Methods are a type of function in Python.

# The append() Method

In [ ]:
animals = ['dog', 'cat']

# add 'rabbit' at the end of the list
animals.append('rabbit')

print(animals)     # ['dog', 'cat', 'rabbit']

['dog', 'cat', 'rabbit']

# The extend() Method

In [ ]:
animals = ['dog', 'cat']

animals1 = ['rabbit', 'pig']

# add items of animals1 list to the animals list
animals.extend(animals1)

print(animals)

# Output:
# ['dog', 'cat', 'rabbit', 'pig']

['dog', 'cat', 'rabbit', 'pig']

# The insert() Method
The insert() method inserts an item to the list at the specified index.


This method takes two arguments:

**index** at which the item is to be inserted


**item** to insert

In [ ]:
animals = ['dog', 'cat', 'rat']

# 'rabbit' is inserted at the third position (index 2)
animals.insert(2, 'rabbit')

print(animals)

# Output:
# ['dog', 'cat', 'rabbit', 'rat']

['dog', 'cat', 'rabbit', 'rat']

# The copy() Method
The copy() method returns a copy of the specified list. It doesn't take any argument.

In [ ]:
animals1 = ['dog', 'cat', 'rat']

animals2 = animals1.copy()

print(animals2)

# Output:
# ['dog', 'cat', 'rat']

['dog', 'cat', 'rat']

**Common Google queries may look like these:**

reverse a list in Python

remove last element from a Python list

insert an item in a Python list at a specified index

Problem Description

Write a program to add items to a list.

Create an empty list and assign it to the variable animals.
Add "dog" to the list and print it.
Add "cat" to the list and print it again.

In [ ]:
# create an empty list
animals = []

# append "dog" to the list
animals.append("dog")

print(animals)

# append "cat" to the list
animals.append("cat")
print(animals)

['dog']
['dog', 'cat']

 # Using for Loop With List

In [ ]:
# a list of three elements
languages = ['English', 'German', 'French']

for language in languages:
    print("Language is", language)

Language is English
Language is German
Language is French

# Check Elements in a List

In [ ]:
fruits = ['apple', 'banana', 'mango']

if 'apple' in fruits:
    print('apple is tasty')

if 'potato' in fruits:
    print('Whaaaat?')

apple is tasty

In [ ]:
fruits = ['apple', 'banana', 'mango']

print('Kiwi' in fruits)   # False
print('Kiwi' not in fruits)   # True

False
True

Problem Description

Write a program to find the number of items in a Python list.

The easiest way to find the number of items a list has is by using the built-in len() function.

Can you find the length of a list without using this function?

Suppose we have a list like this: [10, 20, 30, 40]
Your task is to find the length of this list programmatically.
For hints, refer to the code outline.

In [ ]:
numbers = [10, 20, 30, 40]

length = 0

# Use a loop to count elements
for _ in numbers:
    length += 1

# Print length
print(length)

4

# **Tuples**

A tuple is similar to a list. It's also an ordered collection of items. However, there is an important difference between the two.

Lists are mutable; meaning we can add, change and delete items of a list. However, tuples are immutable; once a tuple is created, we cannot change its items.

All other operations such as accessing individual items and iterating a tuple are the same.

# Creating Tuples

In [ ]:
# a tuple of numbers
numbers1 = (10, 20, 30)
print(numbers1)   # (10, 20, 30)

# empty tuple
numbers2 = ()
print(numbers2)

# tuple of mixed data types
mixed_tuple = (1, 'Hello', [3, 4])
print(mixed_tuple)  # (1, 'Hello', [3, 4])

(10, 20, 30)
()
(1, 'Hello', [3, 4])

# Creating a Tuple With Only One Item

In [ ]:
text = ('Hello')
print(text)   # Hello

Hello

To create a tuple with one item, we also need to put a trailing comma to indicate that it is, in fact, a tuple.

In [ ]:
tuple1 = ('Hello',)
print(tuple1)   # ('Hello',)

('Hello',)

# Tuple Length

In [ ]:
# tuple containing 3 items
languages = ('Python', 'JavaScript', 'C++')

length = len(languages)
print(length)    # Output: 3

# empty tuple
animals = ()

length = len(animals)
print(length)   # Output: 0

3
0

# Access Tuple Items

In [ ]:
languages = ('Python', 'JavaScript', 'C++')

# access first item
first_language = languages[0]
print(first_language)   # Python

# access second item
print(languages[1])   # JavaScript

# access third-last item
print(languages[-3])   # Python

Python
JavaScript
Python

Problem Description

Write a program to access and print an item from a tuple.

Create a tuple containing four items: 9, 11, 15, and 17 and assign them to the odd_numbers variable.
Print the third item of the tuple (using a positive index).

In [ ]:
# create a tuple containing items 9, 11, 15 and 17
# assign the tuple to the odd_numbers variable
odd_numbers =(9,11,15,17)
# print the third item
print(odd_numbers[2])

15

# Slicing of a Tuple

In [ ]:
numbers = (10, 20, 30, 40, 50, 60)
print(numbers[1: 4])    # (20, 30, 40)

(20, 30, 40)

Slicing doesn't modify the original tuple; it's not possible. Instead, get a new tuple.

In [ ]:
numbers = (10, 20, 30, 40, 50, 60)

# items from index 0 to 3
print(numbers[0: 4])    # (10, 20, 30, 40)

# items from index 3 to 4
print(numbers[3: 5])   # (40, 50)

# items from index 3 to second-last
# remember, last index is exclusive
print(numbers[3: -1])   # (40, 50)

(10, 20, 30, 40)
(40, 50)
(40, 50)

# Omit Start and End Index

In [ ]:
numbers = (10, 20, 30, 40, 50, 60)

# items from first index to 3
print(numbers[: 4])    # (10, 20, 30, 40)

# items from index 3 to last
print(numbers[3: ])   # (40, 50, 60)

# omitting both start and end index
# items from first to last
print(numbers[:])   # (10, 20, 30, 40, 50, 60)

(10, 20, 30, 40)
(40, 50, 60)
(10, 20, 30, 40, 50, 60)

# Change Items of a Tuple
## Note that we cannot change items of a tuple.

In [ ]:
languages = ('Python', 'JavaScript', 'C++')

# try to change the second item to 'Java'
languages[1] = 'Java'

TypeError: 'tuple' object does not support item assignment

In [ ]:
languages = ('Python', 'JavaScript', 'C++')

# assign new tuple to languages
languages = ('Python', 'JavaScript')

print(languages)   # ('Python', 'JavaScript')

('Python', 'JavaScript')

# Delete Tuple
## we cannot delete individual items of a tuple.

In [ ]:
animals = ('dog', 'cat', 'rat')

# try to delete the second item
del animals[1]

TypeError: 'tuple' object doesn't support item deletion

In [ ]:
# delete a tuple itself
animals = ('dog', 'cat', 'rat')

# delete the tuple
del animals

# Iterate Through a Tuple

In [ ]:
fruits = ('apple', 'banana', 'mango')

for fruit in fruits:
    print("I like", fruit)

I like apple
I like banana
I like mango

# Membership Check

In [ ]:
fruits = ('apple', 'banana', 'mango')
if 'apple' in fruits:
    print("apple is tasty")

if 'potato' in fruits:
    print("Whaaaat?")

apple is tasty

In [ ]:
fruits = ('apple', 'banana', 'mango')

print('Kiwi' in fruits)   # False
print('Kiwi' not in fruits)   # True

False
True

**We use the in operator to check membership in tuples.**

When to Use Tuples?
If we are certain that the items of a collection won't change, it's better to use tuples instead of a list.

Why?

Because tuples are immutable, meaning their items cannot be modified. Its built-in safeguard helps prevent unintended changes in our data.

If we accidentally change items in a tuple, Python will raise an error, alerting us of the mistake.

# **Strings**

A string is a sequence of characters enclosed inside quotation marks (either single or double quotes).

In [ ]:
text1 = 'Hello there'
print(text1)    # Hello there

text2 = "Heyyy"
print(text2)   # Heyyy

Hello there
Heyyy

# Creating Strings

 a string is created using single quotes or double quotes.


 there are also other ways to create strings: using triple single quotes or triple double quotes.

In [ ]:
# use triple double quotes
text1 = """Hello"""
print(text1)   # Hello

# use triple single quotes
text2 = '''Hey'''
print(text2)   # Hey

Hello
Hey

# Usually, triple quotes are used to create multiline strings

In [ ]:
lyrics = '''Don't stop believing
Hold on to that feeling
Streetlight, people'''

print(lyrics)

Don't stop believing
Hold on to that feeling
Streetlight, people

# Concatenate (Join) Strings
We can concatenate two strings using the + operator.

In [ ]:
first_name = "Jack"
last_name = "Sparrow"

name = first_name + " " + last_name
print(name)   # Jack Sparrow

Jack Sparrow

# Escape Sequences

In [ ]:
text = "\"What\'s there?\", asked Paul"
print(text)
print("Hey\nHello\nHowdy?")

"What's there?", asked Paul
Hey
Hello
Howdy?

# Access Characters of a String
A string is a sequence of characters. And we can access them by using indexes (similar to lists and tuples).

In [ ]:
text = "Bamboozle"

# first character
print(text[0])   # B

# fourth character
print(text[3])   # b

# last character
print(text[-1])   # e

# 16th character
print(text[15]) # Error!

B
b
e

IndexError: string index out of range

Problem Description


Write a program to access and print a character from a string.

Assign the "Snowpiercer" string to a variable named movie.
Print the fourth character from the string (using a positive index).

In [ ]:
# assign "Snowpiercer" to the movie variable
movie = "Snowpiercer"

# print the fourth character from Snowpiercer
print(movie[3])

w

# Change Characters of a String
Strings are immutable; we cannot change characters of a string.

In [ ]:
movie = "The Big Short"

# try to change the sixth item to "u"
movie[5] = "u"

TypeError: 'str' object does not support item assignment

In [ ]:
# valid one

movie = "The Big Short"

# assign a new string to the movie variable
movie = "Pulp Fiction"

print(movie)   # Pulp Fiction

Pulp Fiction

# Slice Strings
Similar to lists and tuples, slicing is used to get a substring from the string.

In [ ]:
movie = "Avengers: Endgame"

# characters from index 0 to 7
print(movie[0: 8])   # Avengers

# characters from index 0 to 7
print(movie[: 8])   # Avengers

# characters from index 10 to 16
print(movie[10: 17])   # Endgame

# characters from index 10 to last
print(movie[10: ])   # Endgame

# characters from first to last
print(movie[:])   # Avengers: Endgame

Avengers
Avengers
Endgame
Endgame
Avengers: Endgame

Remember: The start index is inclusive, but the end index is exclusive.

In [ ]:
# We cannot achieve this by assigning "C" to the first character.

animal = "Rat Master"

animal[0] = "C"   # Error!
print(animal)

TypeError: 'str' object does not support item assignment

In [ ]:
animal = "Rat Master"

new_animal = "C" + animal[1: ]
print(new_animal)

Cat Master

# String Methods

# The replace() method

In [ ]:
text = "bat ball"

# replace "ba" with "ca"
replaced_text = text.replace("ba", "ca")

print(replaced_text)    # cat call

cat call

# The find() method

In [ ]:
message = "Avengers"

# get the index of "nge"
print(message.find("nge"))   # 3

3

# The upper() and lower() methods

In [ ]:
message = "Python Is Fun"

result = message.lower()
print(result)   # python is fun

result = message.upper()
print(result)   # PYTHON IS FUN

python is fun
PYTHON IS FUN

other string methods can find by searching this

Common Google queries may look like these:

make first letter of a string uppercase in Python

reverse a string in Python

remove all whitespaces from a string in Python

remove last five characters from a string in Python

Problem Description

Write a program to slice and concatenate two strings.

Get two string inputs from the user and store them in text1 and text2 respectively.
Create a new string that will contain the first four characters of the text1 string and the last four characters of the text2 string. Store the resultant string in the result variable.
Print the new string.

In [ ]:
# get two string inputs
text1 = input()
text2 = input()

# create the result string
# hint: use slicing
result = text1[:4] + text2[-4:]

# print the result
print(result)

hello
aakriti
hellriti

# Iterate Through a String

In [ ]:
series = "Dark"

for character in series:
    print(character)

D
a
r
k

# Check if Substring Exists

In [ ]:
text = "Python"

result =  "Py" in text
print(result)   # True

result = "PY" in text
print(result)   # False

True
False

In [ ]:
# to check string exist or not
text = "Python"

print("PY" in text)   # False
print("PY" not in text)   # True

# **Python Dictionaries**
A dictionary is a collection of items, similar to lists and tuples. However, each item of the dictionary is a key/value pair.

# Creating Dictionaries
A dictionary is created by placing key/value pairs inside curly braces {} separated by commas.

In [ ]:
person = {'name': 'Ashley', 'age': 20}
print(person)

# Output: {'name': 'Ashley', 'age': 20}

{'name': 'Ashley', 'age': 20}

In [ ]:
# empty dictionary
dict1 = {}
print(dict1)
# dictionary containing one item
dict2 = {1: 'one'}
print(dict2)
# dictionary containing three items
dict3 = {1: 10, 'greet': ['Hey', "Hello"], 'one': 1}
print(dict3)
# invalid dictionary
# list cannot use used as keys

# invalid dictionary
# duplicate key
dict5 = {1: 'One', 1: 'Two'}

{}
{1: 'one'}
{1: 10, 'greet': ['Hey', 'Hello'], 'one': 1}

Problem Description

Create a dictionary named student_info.
Inside the dictionary, store two keys, 'name' and 'score' with values 'James' and 98, respectively.
Print the dictionary.

In [ ]:

student_info = {'name':'James','score':98}
print(student_info)

{'name': 'James', 'score': 98}

# Dictionary Length

In [ ]:
numbers = {10: 'ten', 20: 'twenty', }

length = len(numbers)
print(length)    # Output: 2

person_info = {}
print(len(person_info))   # Output: 0

2
0

# Access Dictionary Values
We can access by using key only

If we try to access the value of a key that doesn't exist

In [ ]:
student_info = {
    'name': 'Kyle',
    'major': 'Computer Science',
    'age': 19
}

print(student_info['name'])   # Kyle
print(student_info['age'])   # 19

Kyle
19

In [ ]:
student_info = {
    'name': 'Kyle',
    'major': 'Computer Science',
    'age': 19
}

print(student_info['car'])

# Output:
# KeyError: 'car'

KeyError: 'car'

# Update and Add Items
Dictionaries are mutable; we can add, change and remove items of a dictionary after it is created.

Update Value of a Key

In [ ]:
student_info = {
    'name': 'Kyle',
    'major': 'CS',
    'age': 19
}

# change the value of the 'age' key to 20
student_info['age'] = 20

# change the value of the 'name' key to 'Mike'
student_info['name'] = 'Mike'

print(student_info)

# Output:
#  {'name': 'Mike', 'major': 'CS', 'age': 20}

{'name': 'Mike', 'major': 'CS', 'age': 20}

Add Item

In [ ]:
student_info = {
    'name': 'Kyle',
    'major': 'CS',
}

# if we assign a value to a key that doesn't exist,
# it is added to the dictionary
student_info['city'] = 'London'

print(student_info)

# Output: {'name': 'Kyle', 'major': 'CS', 'city': 'London'}

{'name': 'Kyle', 'major': 'CS', 'city': 'London'}

Notes:

If a key already exists in a dictionary, assigning a value replaces the value of the key.

If a key doesn't exist, assigning a value creates a new item.

Problem Description

Assign the dictionary below to a variable named prices.

{'apple': 2.5, 'kiwi': 3.4}
Then,

Change the value of the 'apple' key to 3.5.
Print the dictionary.
Add an item (key: 'banana', value: 3) to the dictionary.
Print the dictionary again.

In [ ]:
# create the dictionary
prices = {'apple': 2.5, 'kiwi': 3.4}

# change the value of 'apple' key to 3.5
prices['apple']= 3.5
print(prices)

# add an item with 'banana' as key with value 3
prices['banana']= 3
print(prices)

{'apple': 3.5, 'kiwi': 3.4}
{'apple': 3.5, 'kiwi': 3.4, 'banana': 3}

# Delete Dictionary Item

In [ ]:
student_info = {
    'name': 'Kyle',
    'major': 'CS',
}

# delete an item
del student_info['name']

print(student_info)

# Output
# {major: 'CS'}

{'major': 'CS'}

In [ ]:
student_info = {
    'name': 'Kyle',
    'major': 'CS',
}

# delete the dictionary
del student_info

print(student_info)

NameError: name 'student_info' is not defined

# Iterate Through a Dictionary

In [ ]:
squares = {1: 1, 3: 9, 5: 25}

for key in squares:
    print(key)

1
3
5

In [ ]:
squares = {1: 1, 3: 9, 5: 25}

for key in squares:

    # get the value of a key
    value = squares[key]
    print(f"{key} -> {value}")

1 -> 1
3 -> 9
5 -> 25

# Note: It's important to note that when we use a for loop directly on a dictionary, the loop iterates over the keys of the dictionary by default, not the values.

# Check if a Key Exists in a Dictionary

In [ ]:
squares = {1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

print(1 in squares)   # True
print(3 in squares)   # True
print(49 in squares)   # False

True
True
False

In [ ]:
squares = {1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

print(49 in squares)   # False
print(49 not in squares)   # True

False
True

Problem Description

Assign the dictionary below to a variable named prices.
{'apple': 2, 'kiwi': 3}
Then, using a for loop, print the values of all the dictionary keys one by one.

In [ ]:
# create the dictionary
prices = {'apple': 2, 'kiwi': 3}

# use a for loop to print values of all the keys
for key in prices:
    value = prices[key]
    print(value)

2
3

# Dictionary Methods


**The get() Method**

In [ ]:
scores = {'Physics': 67, 'Maths': 87}

print(scores.get('Physics'))   # 67
print(scores.get('Biology'))   # None

67
None

**The clear() Method**

In [ ]:
scores = {'Physics': 67, 'Maths': 87}

scores.clear()
print(scores)   # {}

{}

**The copy() Method**

In [ ]:
original_marks = {'Physics': 67, 'Maths': 87}

copied_marks = original_marks.copy()

print(f"Original Marks: {original_marks}")
print(f"Copied Marks: {copied_marks}")

Original Marks: {'Physics': 67, 'Maths': 87}
Copied Marks: {'Physics': 67, 'Maths': 87}

# **Python Sets**
Similar to lists and tuples, a set is a collection of items. There are three things that make sets different from lists and tuples:

unordered - items of a set are not arranged in any particular order


unique - a set cannot contain duplicate items

immutable items - items must be immutable

# Creating Sets

In [43]:
animals = {'dog', 'cat', 'tiger'}
print(animals)   # {'dog', 'cat', 'tiger'}

mixed_set = {4, 'tiger', 3.5}
print(mixed_set)   # {3.5, 'tiger', 4}

{'cat', 'dog', 'tiger'}
{3.5, 4, 'tiger'}

# Duplicate Items in a Set

In [44]:
# set cannot count duplicate item
numbers = {1, 2, 1, 5, 2}
print(numbers)   # {1, 2, 5}

{1, 2, 5}

# Creating an Empty Set

In [45]:
# empty set
my_set = set()

print(my_set)   # set()

set()

# Add and Update Set Items

# Add Set Items

We use the set add() method to add an item to a set.

In [46]:
numbers = {1, 3}
print(numbers)   # {1, 3}

# add an item
numbers.add(2)
print(numbers)   # {1, 2, 3}

{1, 3}
{1, 2, 3}

# Update Set
The set update() method is used to update a set with items of other collection types (lists, tuples, sets, etc.).

In [47]:
animals = {'dog', 'cat'}
wild_animals = ['tiger', 'lion', 'lion']

animals.update(wild_animals)
print(animals)    # {'tiger', 'cat', 'lion', 'dog'}

{'lion', 'cat', 'dog', 'tiger'}

Problem Description

Create an empty set using the set() function and assign it to the numbers variable.
Get an integer input from the user and assign it to the number variable.
Add number to the numbers set using the set's add() method.
Print the numbers set.

In [48]:
# create an empty set
numbers = set()

# get integer input
number = int(input())

# add number to the numbers set
numbers.add(number)

# print the numbers set
print(numbers)

5
{5}

# Remove Item From a Set

In [49]:
animals = {'tiger', 'cat', 'dog'}

# remove the 'cat' item
animals.discard('cat')

print(animals)   # {'dog','tiger'}

{'dog', 'tiger'}

# Check if an Item Exists

In [50]:
animals = {'tiger', 'cat', 'dog'}

print('tiger' in animals)   # True
print('pig' in animals)   # False

True
False

In [51]:
animals = {'tiger', 'cat', 'dog'}

print('pig' in animals)   # False
print('pig' not in animals)   # True

False
True

# Set Operators

# Sets Union
The union of two sets is a set of all items from both sets. It is performed using the | operator.

In [52]:
domestic_animals = {'dog', 'cat', 'elephant'}
wild_animals = {'lion', 'tiger', 'elephant'}

# union of sets
animals = domestic_animals | wild_animals
print(animals)

{'cat', 'dog', 'tiger', 'lion', 'elephant'}

# Sets Intersection
The intersection of two sets is a set of items that are common in both sets. It is performed using the & operator.

In [54]:
domestic_animals = {'dog', 'cat', 'elephant'}
wild_animals = {'lion', 'tiger', 'elephant'}

# intersection of sets
animals = domestic_animals & wild_animals
print(animals)

{'elephant'}

In [56]:
item1 = {1,2}
item2 = {3,4}
item3 = item1 | item2
print(item3)

{1, 2, 3, 4}

# **Conversion**

We learned about different compound data types in this chapter. Now, let's learn to convert one compound data type to another using these built-in functions.

list() - converts to list

tuple() - converts to tuple

dict() - converts to dictionary

set() - converts to set

Let's try each of these functions one by one.

# The list() Function

In [57]:
# convert tuple to list
result = list((1, 2, 3))   # [1, 2, 3]
print(result)

# convert string to list
result = list("Hello")   # ['H', 'e', 'l', 'l', 'o']
print(result)

# convert dictionary to list
result = list({2: 4, 10: 20})   # [2, 10]
print(result)

# convert set to list
result = list({1, 2, 3})   # [1, 2, 3]
print(result)

[1, 2, 3]
['H', 'e', 'l', 'l', 'o']
[2, 10]
[1, 2, 3]

Note: When a dictionary is converted to a list, the list items will only consist of the dictionary's keys.

# The tuple() Function
The tuple() function converts an iterable (list, string, dict, or set) to a tuple.

In [58]:
# convert list to tuple
result = tuple([1, 2, 3])   # (1, 2, 3)
print(result)

# convert string to tuple
result = tuple("Hello")   # ('H', 'e', 'l', 'l', 'o')
print(result)

# convert dictionary to tuple
# dictionary's keys will be tuple's items
result = tuple({2: 4, 10: 20})   # (2, 10)
print(result)

# convert set to tuple
result = tuple({1, 2, 3})   # (1, 2, 3)
print(result)

(1, 2, 3)
('H', 'e', 'l', 'l', 'o')
(2, 10)
(1, 2, 3)

# The dict() Function
The dict() function can be used to create a dictionary.

In [59]:
# convert to dictionary
coordinate = dict([('x', 5), ('y', -5)])
print(coordinate)   # {'x': 5, 'y': -5}

# convert to dictionary
coordinate = dict(x = 5, y = -5)
print(coordinate)   # {'x': 5, 'y': -5}

{'x': 5, 'y': -5}
{'x': 5, 'y': -5}

Note: The items of a dictionary are key/value pairs. Hence, the argument(s) passed to the dict() function must be in a specific format.

# The set() Function
The set() function converts an iterable (list, tuple, string, or dict) to a set

In [60]:
# convert list to set
result = set([1, 2, 3])
print(result) # {1, 2, 3}

# convert string to set
result = set("abca")
print(result) # {'a', 'b', 'c'}

# convert tuple to set
result = set((1, 2, 3, 2, 3))
print(result) # {1, 2, 3}

# convert dictionary to set
result = set({2: 4, 10: 20}) # {2, 10}
print(result)

{1, 2, 3}
{'b', 'c', 'a'}
{1, 2, 3}
{2, 10}

Note: A set cannot contain duplicate values. All the duplicate values of an iterable are removed when we convert the iterable to a set.

# Remove Duplicate Items From a List
There is an awesome way to remove duplicate items from a list

In [61]:
numbers = [1, 1, 2, 3, 4, 1, 1]

numbers = list(set(numbers))
print(numbers)   # [1, 2, 3, 4]

[1, 2, 3, 4]

# The range() Function

In [63]:
# numbers from 1 to 5
numbers = range(1, 6)

# convert numbers to list for printing
numbers = list(numbers)

print(numbers)

[1, 2, 3, 4, 5]

# range() With One Argument

In [64]:
# numbers from 0 to 4
numbers = range(5)

# convert numbers to list for printing
numbers = list(numbers)

print(numbers)

[0, 1, 2, 3, 4]

In [65]:
n = 3

for i in range(n):
    print("Hello")

Hello
Hello
Hello

In [66]:
for number in range(3):
    print(number)

0
1
2

# The step Argument
numbers = range(start, end, step)

In [67]:
# numbers from 1 to 10
numbers = range(1, 11, 3)

# convert numbers to list for printing
numbers = list(numbers)

print(numbers)

[1, 4, 7, 10]

Problem Description

Create a sequence of numbers 4, 7, 10 using the range() function.

Convert this sequence to tuple using the tuple() function.
Print the tuple.

In [68]:
# create the sequence of numbers using range()
numbers = range(4, 11, 3)

# convert numbers to tuple
# assign the tuple to the result variable
result = tuple(numbers)

# print the result
print(result)

(4, 7, 10)

In [69]:
numbers = range(5, 0, -1)

# convert to list and print it
print(list(numbers))

# Output
# [5, 4, 3, 2, 1]

[5, 4, 3, 2, 1]

By the way, range is not a data type like lists, strings etc. We have included this topic here because it makes sense.

Data Type	Ordered?	Mutable?	Duplicates?
List	Yes	Yes	Yes

Tuple	Yes	No	Yes

String	Yes	No	Yes

Dictionary	Yes	Yes	No (keys must be unique)

Set	No	Yes	No

Notes:

Ordered means the items have a defined order.

Mutable means we can add, change and remove items.

Duplicates means items of the iterable can have duplicate values.

In [70]:
# Get the Largest item
numbers = [10, 45, 61, -6]

# assign the first value to the largest variable
# we will update the largest variable inside the loop
largest = numbers[0]

# loop iterates from 0 to last item of numbers
for number in numbers:
    if largest < number:
        largest =  number

print(f"largest: {largest}")

largest: 61

In [71]:
# using max() function
numbers = [10, 45, 61, -6]

# get the largest number
largest = max(numbers)

print(f"largest: {largest}")

largest: 61

Get Substring From a String

In [72]:
my_string = "I love Python"

# print characters from index 2 to 5
print(my_string[2:6])    # love

# print characters from index 2 to last character
print(my_string[2:])    # love Python

love
love Python

# Get the Value if Key Exists

In [73]:
cubes = {'one': 1, 'two': 2, 'three': 3}

if 'three' in cubes:
    print(cubes['three'])

3

# Employee in Both Departments

In [74]:
frontend_developers = ['Rob', 'Jane', 'Mary', 'Anne']
backend_developers = ['Jane', 'Jack', 'Lily']

# convert lists to sets and perform set intersection
both_developers = set(frontend_developers) & set(backend_developers)

# convert to list and print it
print(list(both_developers))

['Jane']