<a href="https://colab.research.google.com/github/Aakriti-Dhungel/Learning-Python/blob/main/Introduction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python is a popular programming language that is widely used in web development, data science, artificial intelligence, and many other fields.

In [ ]:
print("Hello, World!")

Hello, World!

In [ ]:
print("Welcome to Python Learning")

Welcome to Python Learning

python is case sensitive  ,
extra spaces or differences in capitalization

In [ ]:
print("welcome")

welcome

**Number and String**

Number can be integer , float , positive ,negative
In Python, text wrapped inside quotation marks are called strings. can use single quote or double quote

In [ ]:
print("Python")
print(5)
print(11)
print("How are you?")
print(10 + 15)

Python
5
11
How are you?
25

## **Comments**

In [ ]:
In Python, we use # to create comments.

In [ ]:
# print("Hello World")
print(5)

5

## **Variables**

Create variables
Print variables
Change the values assigned to variables

In [ ]:
# Create a variable
greeting = "Merry Christmas"

# Display the variable
print(greeting)

Merry Christmas

In [ ]:
greeting = "Merry Christmas"

print("greeting")   # Output: greeting
print(greeting)     # Output: Merry Christmas

greeting
Merry Christmas

In [ ]:
name = "Jack"

print(name)
print("Jackie")

Jack
Jackie

In [ ]:
# Create the salary variable
salary=4950.5

# Print the variable
print(salary)

4950.5

# Change Values Stored in Variables

In [ ]:
age = 25
print(age)

age = 100
print(age)

25
100

In [ ]:
#Change Values Stored in a Variable
# Assign 25 to the variable var
var = 25

# Print var
print(var)
# Assign "John" to the variable var
var = "John"
# Print var again
print(var)

25
John

In [ ]:
#Assign Value of One Variable to Another
color1 = "blue"
print(color1)   # Output: blue

color2 = "pink"

# Assign the value stored in color2 to color1
color1 = color2

print(color1)  # Output: pink
print(color2)  # Output: pink

blue
pink
pink

In [ ]:
# Create the favorite_food variable
favorite_food = "steak"

# Print the favorite_food variable
print(favorite_food)
# Create the food variable
food = "pizza"
# Assign food to favorite_food
favorite_food = food
# Print the favorite_food variable
print(favorite_food)

steak
pizza

In [ ]:
city = "San Francisco"

# Print the value stored in the city variable
print(city)   # Output: San Francisco

# Print the "city" string
print("city")   # Output: city

San Francisco
city

## **0utput**
Introduction to Output

In [ ]:
# Print an integer
print(34)    # Output: 34

# Print a string
print("Squid Game")    # Output: Squid Game

# Create a variable
city = "London"

# Print the city variable
print(city)     # Output: London

34
Squid Game
London

In [ ]:
name = "Jack"
print("Name:", name)

Name: Jack

In [ ]:
# Print a String and a Number
# Create the variable age
age = 19

# Create the message variable
message = "My age is:"

# Print message and age variables
print(message,age)

**Print Newline (Enter Key)**

In [ ]:
print("Welcome to Programiz\n\nThe Amazing Spider-Man")

Welcome to Programiz

The Amazing Spider-Man

In [ ]:
print("Hey\nHow are you")

Hey
How are you

**Python f-strings**


```
# This is formatted as code
```


printing multiple values and variables.

In [ ]:
print(f"Hello")

Hello

In [ ]:
# Print Variables Using f-strings
name = "Alice"
location = "Wonderland"

print(f"My name is {name} and I live in {location}.")

My name is Alice and I live in Wonderland.

In [ ]:
title = "The Great Gatsby"
author = "Fitzgerald"

# Write your code below
print(f"{title} by {author}.")

The Great Gatsby by Fitzgerald.

**Common Mistakes Python f-strings**
1. Spelling Error

2. Adding Spaces at the Beginning

3. Error because of Quotation Marks

4. Forgetting Commas in the print() Function

5. Forgetting to use f in a f-string

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

## **Arithmetic Operators**

Operator	Syntax	Meaning
  *	x + y	Addition
  * x - y	Subtraction
  * x * y	Multiplication
  * x / y	Division
  * x % y	Remainder
  * x // y	Quotient
  * x ** y Exponentiation

In [3]:
x = 10
y = 20

# Use + to perform addition
total = x + y + 30

print(total)    # Output: 60

print(x + y)    # Output: 30

60
30

In [4]:
x = 10
y = 6

result = x - y
print(result)    # Output: 4

4

In [5]:
# Create the cost_price variable
cost_price =25
# Create the selling_price variable
selling_price =35

# Compute the profit and print it
profit = selling_price - cost_price
print(profit)

10

In [7]:
number1 = 5
number2 = 10

# Compute the product of number1 and number2
product = number1 * number2
print(product)
 #Another
number = 5.5

# Compute the product of number and 10
product = number * 10
print(product)

50
55.0

In [9]:
number = 25

result = number / 4
print(result)

result = number / 5
print(result)

6.25
5.0

The / operator always returns a floating-point value. In the above program, 25 / 5 results in 5.0 and not 5.

# Quotient and Remainder`

In [11]:
divisor = 4
dividend = 25

# Compute quotient
quotient = dividend // divisor

print(quotient)    # Output: 6

6

In [10]:
divisor = 4
dividend = 25

# compute remainder
remainder = dividend % divisor

print(remainder)    # Output: 1

1

Write a program to divide pens among students.

Imagine you have to divide 14 pens among 3 students equally. Your task is to find out:

How many pens each student would get when divided equally?
The number of pens left over (if any).

In [12]:
# Create pen_number and student_number variables
pen_number = 14
student_number =3
# Compute the number of pens each student will get and print it
# Hint: find the quotient
pens = pen_number // student_number
print("Pens for each student:",pens)
# Compute and print the number of remaining pens
# Hint: find the remainder
pens = pen_number % student_number
print("Remaining pens:",pens)

Pens for each student: 4
Remaining pens: 2

In [13]:
# ** Operator

base = 4
power = 3

result = base ** power
print(result)

base = 2.5
power = 3

result = base ** power
print(result)

64
15.625

Write a program to find the volume of a cube.

Create a variable named length and assign it the value 5.
Calculate the volume of the cube using its length.
Print the volume.
Hint: The volume of a cube is calculated as:

volume = length^3

In [14]:
length = 5

# Calculate the volume
volume = length **3
# Print the volume
print(volume)

125

In [15]:
# Using Parentheses in Arithmetic Operations
result = 2 * 5 - 10 / 5
print(result)

result = (2 * 5) - (10 / 5)
print(result)

8.0
8.0

Write a program to calculate the final amount you have to pay for your tuition fee if you make an early payment.

Suppose you are a university student and you need to pay 1536 dollars as your tuition fee.

The college is offering a 10% discount on early payments.To solve this problem,

Create a variable named fee and assign 1536 to it.
Create another variable discount_percent and assign 10 to it.
Compute the discount by using the formula (discount_percent / 100) * fee and assign it to the discount variable.
Compute and print the fee you have to pay by subtracting discount from fee.

In [16]:
# Create the fee and discount_percent variables
fee = 1536
discount_percent = 10

# Compute discount and assign it to the discount variable
discount = (discount_percent / 100) * fee
# Compute and print the fee you have to pay
print(fee - discount)

1382.4

Arithmetic Assignment Operators

In [17]:
total = 10

# Equivalent to: total = total + 5
total += 5

print(total)

15

## **Data Conversion**
Integer - 5, -6, 17, 0.
Float - 5.6, 0.0, -7.84, 16.0.
String - "hello there", "5", "Number is 5.0".

In [18]:
float_number = 15.0
# Convert float to integer
integer_number = int(float_number)
print(integer_number)   # Output: 15

15

In [19]:
string_number = "15"

# Convert string to integer
# integer_number will contain 15
integer_number = int(string_number)

print(integer_number)   # Output: 15

15

 Note: If the int() function cannot convert the string to its equivalent integer, we will get an error.

In [20]:
#Error Converting String to Integer
string_number = "Howdy!"
# Convert string to integer
integer_number = int(string_number)    # Error!
print(integer_number)

ValueError: invalid literal for int() with base 10: 'Howdy!'

In [ ]:
# Convert to float
#int to float
integer_number = -15
# Convert integer to float
float_number = float(integer_number)
print(float_number)   # Output: -15.0

#string to float
string_number = "-15.65"
# Convert string to float
float_number = float(string_number)
print(float_number)   # Output: -15.65
# Similar to int(), if the float() function cannot convert the string to its equivalent floating-point number, we will get an error.

Write a program to convert a variable of one type to another.

Create a variable named x and assign a string value "5" to it.
Create another variable y and assign "10" to it.
Convert the values stored in x and y to integers and multiply them.
Print the result.

In [21]:
# Create variables x and y
x ="5"
y= "10"
# Convert values stored in x and y to integers and multiply them
x =int(x)
y= int(y)

# Print the result
print(x*y)

50

Converting to string

In [22]:
number = 5.5
number_str = str(5.5)

print(number_str)

5.5

Implicit Type Conversion

In [23]:
number_integer = 123
number_float = 1.23
# Add an integer and a float
result = number_integer + number_float
print(result)

124.23

In [24]:
var = "25.0"
number = float(var)
result = number - 15
print(result)

10.0

# **Get User Input**

In [25]:
name = input("Enter your name: ")
print("Your name is", name)

Enter your name: Hello
Your name is Hello

User Input Without Prompt

In [26]:
full_name = input()
print("Full Name:", full_name)

World
Full Name: World

Write a program to get user input.

Get the first name of the user and store it in the first_name variable.
Get the last name of the user and store it in the last_name variable.

In [27]:
# Get the first name from the user
first_name = input()
# Get the last name from the user
last_name = input()
# Print the full name
print(f"First Name: {first_name}")
print(f"Last Name: {last_name}")

Aakriti
Dhungel
First Name: Aakriti
Last Name: Dhungel

Input function always take input as string so if we need other data type then we take using following method

In [28]:
# Program to multiply numbers entered by the user
# Take inputs from the user
number1 = input("Enter a number: ")
number2 = input("Enter another number: ")

# Convert strings to floating-point numbers
number1 = float(number1)
number2 = float(number2)

product = number1 * number2
print("Product:", product)

Enter a number: 5
Enter another number: 10
Product: 50.0

**Another Method**

In [32]:
# Program to multiply numbers entered by the user

# Take inputs from the user
number1 = float(input("Enter a number: "))
number2 = float(input("Enter another number: "))

product = number1 * number2
print("Product:", product)

Enter a number: 5
Enter another number: 5
Product: 25.0

In [29]:
# Get two floating-point numbers as inputs
number1 =float(input())
number2 = float(input())
# Add the numbers
result = number1 + number2

# Print the square of result
square = result **2
print(square)

5
2
49.0

Convert Kilometers to Miles

Practice: Convert Celsius to Fahrenheit

Find the Square Root of a Number

Practice: Find the Area of a Triangle

Swap Two Variables

In [ ]:
# Program to convert distance in kilometer to miles
# The distance will be entered by the user

# Get distance in kilometers
km = float(input("Enter distance in km: "))

# Conversion ratio
ratio = 0.621

# Compute distance in miles
miles = km * ratio
print(f"Distance in miles: {miles}")

In [34]:
# Get temperature in degree celsius from the user
celcius =float(input("Enter temperature in degree celcius:"))
# Convert it to degree fahrenheit using the formula
farenheit = (celcius * 1.8) +32

# Print the degree in fahrenheit
print(f"Temperature in Farenheit: {farenheit}")

Enter temperature in degree celcius:50
Temperature in Farenheit: 122.0

In [35]:
number = 25

square_root = number ** (1/2)
print(f"Square root of {number} is {square_root}")

Square root of 25 is 5.0

In [ ]:
from math import sqrt

# Get three sides of a triangle
a = int(input("Enter the first side: "))
b = int(input("Enter the second side: "))
c = int(input("Enter the third side: "))

# Compute the semiperimeter
s = (a+b+c) / 2

# Compute area and print it
area = sqrt(s*(s-a)*(s-b)*(s-c))
print(area)

In [36]:
#Swap
phone1 = "iPhone"
phone2 = "Galaxy Ultra"

# Store the value of phone1 in another variable
temp_phone = phone1

# Assign phone2 to phone1
phone1 = phone2

# Assign temp_phone (old value of phone1) to phone2
phone2 = temp_phone

print(f"phone1: {phone1}\nphone2: {phone2}")

phone1: Galaxy Ultra
phone2: iPhone