<a href="https://colab.research.google.com/github/Aakriti-Dhungel/Learning-Python/blob/main/Introduction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python is a popular programming language that is widely used in web development, data science, artificial intelligence, and many other fields.

In [ ]:
print("Hello, World!")

Hello, World!

In [ ]:
print("Welcome to Python Learning")

Welcome to Python Learning

python is case sensitive  ,
extra spaces or differences in capitalization

In [ ]:
print("welcome")

welcome

**Number and String**

Number can be integer , float , positive ,negative
In Python, text wrapped inside quotation marks are called strings. can use single quote or double quote

In [ ]:
print("Python")
print(5)
print(11)
print("How are you?")
print(10 + 15)

Python
5
11
How are you?
25

## **Comments**

In [ ]:
In Python, we use # to create comments.

In [ ]:
# print("Hello World")
print(5)

5

## **Variables**

Create variables
Print variables
Change the values assigned to variables

In [ ]:
# Create a variable
greeting = "Merry Christmas"

# Display the variable
print(greeting)

Merry Christmas

In [ ]:
greeting = "Merry Christmas"

print("greeting")   # Output: greeting
print(greeting)     # Output: Merry Christmas

greeting
Merry Christmas

In [ ]:
name = "Jack"

print(name)
print("Jackie")

Jack
Jackie

In [ ]:
# Create the salary variable
salary=4950.5

# Print the variable
print(salary)

4950.5

# Change Values Stored in Variables

In [ ]:
age = 25
print(age)

age = 100
print(age)

25
100

In [ ]:
#Change Values Stored in a Variable
# Assign 25 to the variable var
var = 25

# Print var
print(var)
# Assign "John" to the variable var
var = "John"
# Print var again
print(var)

25
John

In [ ]:
#Assign Value of One Variable to Another
color1 = "blue"
print(color1)   # Output: blue

color2 = "pink"

# Assign the value stored in color2 to color1
color1 = color2

print(color1)  # Output: pink
print(color2)  # Output: pink

blue
pink
pink

In [ ]:
# Create the favorite_food variable
favorite_food = "steak"

# Print the favorite_food variable
print(favorite_food)
# Create the food variable
food = "pizza"
# Assign food to favorite_food
favorite_food = food
# Print the favorite_food variable
print(favorite_food)

steak
pizza

In [ ]:
city = "San Francisco"

# Print the value stored in the city variable
print(city)   # Output: San Francisco

# Print the "city" string
print("city")   # Output: city

San Francisco
city

## **0utput**
Introduction to Output

In [ ]:
# Print an integer
print(34)    # Output: 34

# Print a string
print("Squid Game")    # Output: Squid Game

# Create a variable
city = "London"

# Print the city variable
print(city)     # Output: London

34
Squid Game
London

In [ ]:
name = "Jack"
print("Name:", name)

Name: Jack

In [ ]:
# Print a String and a Number
# Create the variable age
age = 19

# Create the message variable
message = "My age is:"

# Print message and age variables
print(message,age)

**Print Newline (Enter Key)**

In [ ]:
print("Welcome to Programiz\n\nThe Amazing Spider-Man")

Welcome to Programiz

The Amazing Spider-Man

In [ ]:
print("Hey\nHow are you")

Hey
How are you

**Python f-strings**


```
# This is formatted as code
```


printing multiple values and variables.

In [ ]:
print(f"Hello")

Hello

In [ ]:
# Print Variables Using f-strings
name = "Alice"
location = "Wonderland"

print(f"My name is {name} and I live in {location}.")

My name is Alice and I live in Wonderland.

In [ ]:
title = "The Great Gatsby"
author = "Fitzgerald"

# Write your code below
print(f"{title} by {author}.")

The Great Gatsby by Fitzgerald.

**Common Mistakes Python f-strings**
1. Spelling Error

2. Adding Spaces at the Beginning

3. Error because of Quotation Marks

4. Forgetting Commas in the print() Function

5. Forgetting to use f in a f-string

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

## **Arithmetic Operators**